<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
   <connectionStrings>
      <add name="DBConnection" connectionString="Data Source=203.162.78.10;Initial Catalog=CU_Warehouse;Integrated Security=False;User ID=gms;Password=123456;" providerName="System.Data.SqlClient"/>  
      <add name="CSDBConnection" connectionString="Data Source=203.162.78.10;Initial Catalog=GMS_TEST;Integrated Security=False;User ID=gms;Password=123456;" providerName="System.Data.SqlClient"/>  
  </connectionStrings>
  <appSettings>
    <add key="NumberRow" value="10"/>
    <add key="RecordNumCostPrice" value="20"/>
    <add key="SleepTime" value="60000"/>
    <add key="DataSyncType" value="1"/>
    <add key="CityID" value="0"/>
    <add key="EmailReceiveLog" value="congtien.nguyen@lingo.vn"/>
    <add key="EmailCCReceiveLog" value="vietbang.phan@lingo.vn,dieuduong.ngo@lingo.vn"/>
    <add key="EmailSubject" value="[OMS] - Thông báo dừng service Đồng bộ dữ liệu"/>

    <!-- LogSystem Config -->
    <add key="DVS.LogSystem.Database" value="Off" />
    <add key="DVS.LogSystem.File" value="On" />
    <add key="DVS.LogSystem.Path" value="C:\inetpub\wwwroot\DSofT.Warehouse.Log\" />
    <!-- LogSystem Config -->

    <add key="DSofT.Warehouse.AppId" value="8bb36621fab8f0ff68660ee5db9758a2" />
    <add key="DSofT.Warehouse.AppSecret" value="EF5105BBF8B0ED3F47607387EC481F92" />
    <add key="DSofT.Warehouse.AppPublicKey" value="PFJTQUtleVZhbHVlPjxNb2R1bHVzPnZsWXFWbDJlNUc5WnU4MVEvdVdXYlVkYksxRHFWamhiNzkzU21KdlIwY2xpQTU3WWJkY0hobEFTR2pKaUI4d0h3YmhrY3ZESmlia25UQjFzd1o0SWFxUE1LOWlIMFlqelpGQlYrWlRRRE55YWxkZjY0Qi9TUkhvYVdYSjJWVWdqa3VDeHhyQnNhdGhmb2J2UlRleVRGM0ovd1BnRk1TV3RzNFRXaGgweUNPYz08L01vZHVsdXM+PEV4cG9uZW50PkFRQUI8L0V4cG9uZW50PjwvUlNBS2V5VmFsdWU+" />
    <add key="DSofT.Warehouse.AppHostUri" value="http://api.mosms.vn/" />

  </appSettings>

</configuration>
